<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PokéSoul"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- RunDetailsActivity -->
        <activity
            android:name=".activity.RunDetailsActivity"
            android:exported="true" />
        <!-- AddPostActivity -->
        <activity
            android:name=".activity.AddPostActivity"
            android:exported="true" />
        <!-- AddPokemonActivity -->
        <activity
            android:name=".activity.AddPokemonActivity"
            android:exported="true" />
        <!-- AddTimelineLogActivity -->
        <activity
            android:name=".activity.AddTimelineLogActivity"
            android:exported="true" />
        <!-- AddRunActivity -->
        <activity
            android:name=".activity.AddRunActivity"
            android:exported="true" />
        <!-- EditRunActivity -->
        <activity
            android:name=".activity.EditRunActivity"
            android:exported="true" />
        <!-- EditProfileActivity -->
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="true" />
        <!-- ProfileDetailsActivity -->
        <activity
            android:name=".activity.ProfileDetailsActivity"
            android:exported="true" />
        <activity
        android:name=".activity.RegisterUserActivity"
        android:exported="true" />
        <activity
            android:name=".activity.LoginUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewPostActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddCommentActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PokemonDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TimelineLogDetailsActivity"
            android:exported="true" />
    </application>

</manifest>